.mySwiper {
  /* background: green; */
  /* border: 1px solid black; */
  @media screen and (max-width: 1000px) {
    background: red;
    width: 400px;
  }
}
.swiper-container {
  /* width: 400px; */
  /* background: red; */
  margin-left: 0;
}

@media screen and (max-width: 640px) {
  .swiper-container {
    width: 400px;
  }
}

/* @media screen and (min-width: 768px) { */
/*   .swiper-container { */
/*   } */
/* } */
